
<div class="justify-content-center" style="text-align: center;">
  <br>
  <h3 style="color:rgb(37, 246, 37);">Welcome {{userName}}</h3>

  <textarea name="caption" id="" #caption class="captionDesign" cols="50" rows="4" placeholder="Say Something..."></textarea>
 
  <div class="mb-3 d-flex align-items-center justify-content-center" >
    <button [disabled]="uploadButton" type="button" class="btn btn-primary" (click)="uploadFile(caption)">Upload</button>
    <input class="form-control" type="file" id="formFile" (change)="getFile($event)">
  </div>
  <div class="container">
  <div class="mb-3 d-flex align-items-center justify-content-center divDesign" >
    <div *ngFor="let u of allPosts">

    <div class="card cardDesign">
      <h6 class="card-title" style="text-align: left;margin-left: 10px;">{{u.postUser}}</h6>
      <img class="card-img-top" src={{u.postImageUrl}} alt="Card image cap" height="400px" width="410px">
      <div class="card-body">
        <h5 class="card-title" style="text-align: left;">{{u.caption}}</h5>       
      </div>
        <button (click)="likeButtonClicked(u)" class="likeButton">
        <img src="{{likeUrl}}" alt="" height="25px" width="25px">
        {{u.likes}} liked it
        </button>
       <span style="text-align: left;margin-left: 10px;">comments:</span>
      <div *ngFor="let c of u.comments" class="commentBox">       
       {{c.commentUser}} : {{c.commentMessage}}
      </div>

        <mat-form-field>
          <input matInput type="text" name="comment" #comment placeholder="Add a comment" style="width: 300px;"/>
          <button mat-button (click)="addComment(u,comment)">Comment</button>
        </mat-form-field>  
    </div>
    <hr>

  
    </div>
  </div>

</div>
</div>




 