
<div class="justify-content-center" style="text-align: center;">
<br>
  <textarea name="caption" id="" #caption class="captionDesign" cols="50" rows="4" placeholder="Say Something..."></textarea>
 
  <div class="mb-3 d-flex align-items-center justify-content-center" >
    <button type="button" class="btn btn-primary" (click)="uploadFile(caption)">Upload</button>
    <input class="form-control" type="file" id="formFile" (change)="getFile($event)">
  </div>

  <div *ngIf="showPost" class="mb-3 d-flex align-items-center justify-content-center">

    <div class="card cardDesign">
      <span class="card-title" style="text-align: left;">{{userName}}</span>
      <img class="card-img-top" [src]="url" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title" style="text-align: left;">{{captionData}}</h5>
        
      </div>
    </div>

  </div>
</div>

 